privatekey.dsc
data/img/surprisemofo.png
data/img/tmp/*
var/working/savedGame
var/out/
*.vlb
*.vlog
savedGame
__pycache__/*
*.pyc
.vscode/*
vlb_pieces.vlo.bak
vlb_pieces.vlo
data/img/Thumbs.db
vmods/*
data/vmods/*
*.vmod
venv/*
.venv/*
test/test_vlogs/*
test/test_vmod/*
test/testlists/*
test/archived_tests/*
test/lists/*
