[Unit]
Description=Shrimpbot Discord bot
After=syslog.target

[Service]
User=ardaedhel
Group=ardaedhel
Type=simple
WorkingDirectory=/opt/shrimpbot/
ExecStart=/opt/shrimpbot/.venv/shrimpbot/bin/python3 /opt/shrimpbot/shrimpbot.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target